# Data, models, and results directories
data/
trained_models/
models/
results/
replicates/
releases/
logs/
scripts/
analysis.json
spl.json

# Backup files
*.bu
notebooks/notebooks.bu.*

# Ignore Emacs temporary files
*~

# Ignore the website folder
website/

# OS X system files
.DS_Store

# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution/packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
MANIFEST
pip-wheel-metadata/
share/python-wheels/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test/coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django/Flask-specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# mkdocs documentation
/site

# Ignore Python PEP 582 directories
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# IDE/project-specific files
.spyderproject
.spyproject
.ropeproject

# Temporary or environment-specific folders
_onsides
